body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
	float:left;
}

#site_search{
	float:right;
	margin-top:15px;
	margin-right:20px;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.wiki_body_container{
	margin-left:15px;
	margin-top:10px;
}

.wiki_title{
	float:left;
	max-width:620px;
}

.wiki_vote_bar{
	float:right;
	margin-top:5px;
}

.wiki_vote_bar{
	list-style:none;
}

.wiki_vote_bar li{
	float:left;
	list-style:none;
}

.like span{
	padding:0 17px 0 7px;
	background:url(rate_icons.png) 0 0 no-repeat;
	background-position:100% 0;
}

.dislike span{
	padding:0 17px 0 7px;
	background:url(rate_icons.png) 0 0 no-repeat;
	background-position:100% -15px;	
}

.wiki_body{
}

.wiki_comments{
	margin:15px 0 0;
}

.wiki_side_bar h3{
	margin:10px 0;
}

.side_menu.wiki_side_bar_first{
	margin:10px 0 0 0;
}

.side_menu{
	list-style:none;
	padding:0;
	margin:0;
}

.side_menu li{
	line-height:19.5px;
}

.side_menu.menu_separated{
	margin:10px 0 0 0;
	padding:10px 0 0 0;
	border-top:1px solid #eeeeee;
}

.comment{
	margin:0 0 15px 0;
	background:#f1f1f1;
	padding:10px;
}

.comment p{
	margin:10px 0 0;
}

.leave_comment textarea{
	width:500px;
	height:100px;
}

.wiki_article_list_view h2{
	margin:0 0 5px 0;
}

.wiki_article_list_view p{
	margin:0;
}

.wiki_article_list_view p.info_bar{
	color:#777777;
	font-size:12px;
	line-height:19px;
}

.site_search_container,.view_articles_container{
	margin:15px 0 0 15px;
}

.user_profile_container h2{
	margin:20px 0 10px 0;
}